
               <!-- Page Features-->
               <div class="row" >
                  <div class="panel white no-left no-back" id="1">
                     <i class="fas fa-car-side" id="car1" aria-hidden="true" style="display: none;"></i> 
                  </div>
                  <div class="panel white no-left" id="2">
                     <i class="fas fa-car-side" id="car2" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel white no-left" id="3">
                     <i class="fas fa-car-side" id="car3" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel white no-left" id="4">
                     <i class="fas fa-car-side" id="car4" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel white no-left" id="5">
                     <i class="fas fa-car-side" id="car5" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel white no-left no-forward" id="6">
                     <i class="fas fa-car-side" id="car6" aria-hidden="true" style="display: none;"></i>
                  </div>
               </div>
               <div class="row">
                  <div class="panel white no-back" id="7">
                     <i class="fas fa-car-side"id="car7" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel white" id="8">
                     <i class="fas fa-car-side" id="car8" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel white" id="9">
                     <i class="fas fa-car-side" id="car9" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel white" id="10">
                     <i class="fas fa-car-side" id="car10" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel white" id="11">
                     <i class="fas fa-car-side" id="car11" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel white no-forward" id="12">
                     <i class="fas fa-car-side" id="car12" aria-hidden="true" style="display: none;"></i>
                  </div>
               </div>
               <div class="row">
                  <div class="panel white no-back" id="13">
                     <i class="fas fa-car-side" id="car13" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel white" id="14">
                     <i class="fas fa-car-side" id="car14" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel white" id="15">
                     <i class="fas fa-car-side" id="car15" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel white" id="16">
                     <i class="fas fa-car-side" id="car16" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel white" id="17">
                     <i class="fas fa-car-side" id="car17" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel white no-forward" id="18">
                     <i class="fas fa-car-side" id="car18" aria-hidden="true" style="display: none;"></i>
                  </div>
               </div>
               <div class="row">
                  <div class="panel start no-back" id="19">
                     <i class="fas fa-car-side" id="car19" aria-hidden="true" style="display: inline;"></i>
                  </div>
                  <div class="panel black" id="20">
                     <i class="fas fa-car-side" id="car20" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel black" id="21">
                     <i class="fas fa-car-side" id="car21" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel black" id="22">
                     <i class="fas fa-car-side" id="car22" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel black" id="23">
                     <i class="fas fa-car-side" id="car23" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel white no-forward" id="24">
                     <i class="fas fa-car-side" id="car24" aria-hidden="true" style="display: none;"></i>
                  </div>
               </div>
               <div class="row">
                  <div class="panel white no-back" id="25">
                     <i class="fas fa-car-side" id="car25" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel white" id="26">
                     <i class="fas fa-car-side" id="car26" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel white" id="27">
                     <i class="fas fa-car-side" id="car27" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel white" id="28">
                     <i class="fas fa-car-side" id="car28" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel end" id="29">
                     <i class="fas fa-car-side" id="car29" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel white no-forward" id="30">
                     <i class="fas fa-car-side" id="car30" aria-hidden="true" style="display: none;"></i>
                  </div>
               </div>
               <div class="row">
                  <div class="panel white no-back no-right" id="31">
                     <i class="fas fa-car-side" id="car31" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel white no-right" id="32">
                     <i class="fas fa-car-side" id="car32" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel white no-right" id="33">
                     <i class="fas fa-car-side" id="car33" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel white no-right" id="34">
                     <i class="fas fa-car-side" id="car34" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel white no-right" id="35">
                     <i class="fas fa-car-side" id="car35" aria-hidden="true" style="display: none;"></i>
                  </div>
                  <div class="panel white no-right no-forward" id="36">
                     <i class="fas fa-car-side" id="car36" aria-hidden="true" style="display: none;"></i>
                  </div>
               </div>
        
  

<style>
    .panel{
    border: 2px solid gray;
    border-radius: 5px;
    float: left;
    width: 100px;
    height: 100px;
    position: relative;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    transition: background .2s ease-in
    }
    .white{
    background-color: AliceBlue;
    }
    .black{
    background-color: SlateGray;
    }
    .start{
    content: "Start";
    background-color: yellow;
    }
    .end{
    background-color: green;
    }
    
    .row{
    width: 600px;
    }
 </style>