<div class="container">

  <div class="panel white" id="1">
	<div class = "inner"></div>
  </div>
  <div class="panel white" id="2">
  </div>
  <div class="panel white" id="3">
  </div>
  <div class="panel white" id="4">
  </div>
  <div class="panel white" id="5">
  </div>
  <div class="panel white" id="6">
  </div>
  <div class="panel white" id="7">
  </div>
  <div class="panel white" id="8">
  </div>
  <div class="panel white" id="9">
  </div>
  <div class="panel white" id="10">
  </div>
  <div class="panel white" id="11">
  </div>
  <div class="panel white" id="12">
  </div>
  <div class="panel white" id="13">
  </div>
  <div class="panel white" id="14">
  </div>
  <div class="panel white" id="15">
  </div>
  <div class="panel white" id="16">
  </div>
  <div class="panel white" id="17">
  </div>
  <div class="panel white" id="18">
  </div>
  <div class="panel white" id="19">
  </div>
  <div class="panel white" id="20">
  </div>
  <div class="panel white" id="21">
  </div>
  <div class="panel white" id="22">
  </div>
  <div class="panel white" id="23">
  </div>
  <div class="panel white" id="24">
  </div>
  <div class="panel white" id="25">
  </div>
  <div class="panel white" id="26">
  </div>
  <div class="panel white" id="27">
  </div>
  <div class="panel white" id="28">
  </div>
  <div class="panel white" id="29">
  </div>
  <div class="panel white" id="30">
  </div>
  <div class="panel white" id="31">
  </div>
  <div class="panel white" id="32">
  </div>
  <div class="panel white" id="33">
  </div>
  <div class="panel white" id="34">
  </div>
  <div class="panel white" id="35">
  </div>
  <div class="panel white" id="36">
  </div>
</div>
<div class ="container">
	<label for="name">Name:</label>
	</br>
	<input type="text" id="name" name="name">
	</br>
	<button type="button" id="save">Save</button> 
</div>
<style>
.container{
	width:628px;
	height: 208px;
	margin:35 auto;  
}
.panel{
    border: 2px solid gray;
    border-radius: 5px;
	float: left;
	width: 100px;
	height: 100px;
	position: relative;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.white{
	background-color: AliceBlue;
}

.black{
	background-color: SlateGray;
}

.start{
	content: "Start";
	background-color: yellow;
}

.end{
	background-color: green;
}

</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<script type="text/javascript">
$(function(){
	$('.panel').click(function(){
		var classname = $(this).attr("class")
		console.log(classname);
		if (classname.indexOf("white")>=0){
			$(this).removeClass();
			$(this).addClass("panel black");
		} else if (classname.indexOf("black")>=0){
			$(this).removeClass();
			$(this).addClass("panel start");
			$(this).text("start");
			
		} else if (classname.indexOf("start")>=0){
			$(this).removeClass();
			$(this).addClass("panel end");
			$(this).text("end");
		} else {
			$(this).removeClass();
			$(this).addClass("panel white");
			$(this).text("");
		}
		
	});	
	var objLen = $('.container .panel').length;
	var map = {};
	$('#save').click(function(){
		$('.panel').each(function(index){
			map[index+1] = $(this).attr("class").replaceAll('panel ', '');
		});
		$.post(
			"/receivedata", 
			{"map": JSON.stringify(map),"name":$("input").val()},
			function(data){
				var response = jQuery.parseJSON(data);
				console.log(response);
			}
		);
	});	
});

function getRandom(len){
  return Math.floor(Math.random() * len);
}
</script>
