<div class="container">
  <div class="panel" id="1" value="white">
    <div class="white"></div>
    <div class="black"></div>
  </div>
  <div class="panel" id="2" value="white">
    <div class="white"></div>
    <div class="black"></div>
  </div>
  <div class="panel" id="3" value="white">
    <div class="white"></div>
    <div class="black"></div>
  </div>
  <div class="panel" id="4" value="white">
    <div class="white"></div>
    <div class="black"></div>
  </div>
  <div class="panel" id="5" value="white">
    <div class="white"></div>
    <div class="black"></div>
  </div>
  <div class="panel" id="6" value="white">
    <div class="white"></div>
    <div class="black"></div>
  </div>
</div>
<div class ="container">
<button type="button" id="save">Save</button> 
</div>
<style>
.container{
	width:624px;
	height: auto;
	margin:35 auto;  
}
.panel{
    border: 2px solid gray;
    border-radius: 5px;
	float: left;
	width: 100px;
	height: 100px;
	position: relative;
	font-size: .8em;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;

}
/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.panel .white {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	width: inherit;
	height: inherit;
	background: #a4dce9;
	text-align: center;

	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
	transform: rotateX(0deg) rotateY(0deg);

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

	/* -- transition is the magic sauce for animation -- */
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.panel.flip .white {
	z-index: 900;
	border-color: #eee;
	background: #333;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.panel .black {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 800;
	width: inherit;
	height: inherit;

	text-align: center;

	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-179deg); /* setting to 180 causes an unnatural-looking half-flip */
	transform: rotateY(-179deg);

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

	/* -- transition is the magic sauce for animation -- */
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.panel.flip .black {
	z-index: 1000;
	background: black;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
	transform: rotateX(0deg) rotateY(0deg);
}

</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<script type="text/javascript">
$(function(){
	$('.panel').click(function(){
		$(this).toggleClass('flip');
		if ($(this).attr("value") === "white") {
			$(this).attr("value", "black");
		} else {
			$(this).attr("value", "white")
		}
	});	
	var objLen = $('.container .panel').length;
	$('#save').click(function(){
		$('.panel').each(function(index){
			console.log(index+1+":"+$(this).attr("value"));
		});
	});	
});

function getRandom(len){
  return Math.floor(Math.random() * len);
}
</script>
